<i class="icon check"></i>
<a title="{{ lex('commerce_mailchimp.order_field.description') }}" href="{{ value }}" target="_blank" rel="noopener">
    {{ lex('commerce_mailchimp.order_field.value.subscribed') }}
</a>